<form>
    <label for="post-title">Comment</label>
    {{!-- <input type="text" placeholder="Enter Title for New Post"/>
    <label for="post-title">content</label> --}}
    <input type="text" placeholder="Enter Comment of Post"/>
    <button>Create</button>
</form>
<script src="/js/comment.js"></script>