<p>Dashboard</p>

<div>
{{#each posts}}
<p>{{title}}</p>
<p>{{content}}</p>
{{/each}}
</div>


{{!-- <form>
    <label for="post-title">Title</label>
    <input type="text" placeholder="Enter Title for New Post"/>
    <label for="post-title">content</label>
    <input type="text" placeholder="Enter Content of Post"/>
    <button>Create</button>
</form>
<script src="/js/newPost.js"></script> --}}

